body {
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

canvas {
    background: #000;
    display: block;
    margin: auto;
    border: 2px solid #fff;
}
